.navbar-brand {
  font-family: "Brush Script MT", cursive;
}

.title-design {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-style: italic;
	font-size: 120%;
}

img {
  max-height: 600px;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
}

.favorite {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.photo-separator {
  width: 50%;
}
