<div class="title-design">
  <h4>I've been staring so long at these... </h4>
  <h1>Pictures of You</h1>
  <h4>That I almost believed that they were real...</h4>
</div>

<% if current_user != nil %>
  <%= link_to "Post a Photo!", new_user_post_path(current_user.id), :class => "btn btn-success" %>
<% end %>
