<div class="title-design">
  <p>Share your pictures with the world!  Pick your favorites to show on your profile!</p>
</div>

<% if current_user %>
  <%= link_to "Post a Photo!", new_user_post_path(current_user.id), :class => "btn btn-success" %>
<% end %>

<hr>

<% @post = Post.order("image_upload_updated_at DESC").first %>
<% if @post %>
	<h4 class="description">Here is our newest submission!</h4>
	<%= image_tag @post.image_upload.url %>
	<h4 class="description"><%= @post.description %></h4>
	<div id="favorite-link">
  <%= link_to "Favorite!", post_path(@post.id), :data => {:method => "patch"}, :class => "btn btn-success favorite text-center" %>
  </div>
<% end %>

